*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',
    sans-serif;
    background-image: url("images/patt.png");
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    min-width: 1200px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.row{
    padding-left: -15px;
    padding-right: -15px;
}

.row::after, .menu::after{
    content: "";
    display: block;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
} 

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3{
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

.menu > li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu > li:last-child{
    border-right: 1px solid #2c71b8;
}

.menu > li > .menu-link{
    display: block;
    font-size: 21px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;
}

.menu .menu-link:hover {
    background-color: #2c71b8;
    color: white;
} 

.menu li:hover > .menu-link{
    background-color: #2c71b8;
    color: white;
}

/*arrow down*/

.fa-angle-down:hover {
    color: white;
}

/*vertical menu*/

.submenu{
    list-style-type: none;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.submenu > li{
    background-color: #2c71b8;
    color: white;
}

.submenu-link{
    display: block;
    font-size: 21px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;
}

.menu .submenu li{
    float: none;
}

ul.menu li:hover > .submenu{
    display: block;
    border: none;
    top: 50px;
    left: -1px;
}

ul.menu li:hover > .submenu li{
    width: 286px;
}

ul.menu li:hover>.submenu li .submenu-link{
    background-color: #2c71b8;
    color: white;
    text-align: left;
    padding-left: 20px;

}

 ul.menu li>.submenu li .submenu-link:hover {
    background-color: white;
    color: #2c71b8;
}



.search-box{
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;
    padding: 0;
    margin-top: 4px;
}

form{
    width: 200px;
    height: 40px;
}

.search{
    float: left;
    border: none;
    background-color: transparent;
    width: 160px;
    height: 38px;
    font-size: 21px;
    padding-left: 20px;
}


.search::-webkit-input-placeholder{
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search:focus{
    outline: 0;
    outline-offset: 0;
    background: rgba(255, 255, 255, 0);
}

.btn{
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    border: none;
    padding: 0;
    margin: 4px;
    cursor: pointer;
}

.basket-box{
    padding-left: 30px;
    width: 70px;
    height: 40px;
    margin-top: 4px;
}

.basket{
    background-image: url(images/basket.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.namber{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    color: white;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -55px;
    left: -12px;
}


/*main*/
/*slider*/

.main{
    min-width: 1200px;
    border-bottom: 1px solid white;
}

.slider-box {
background-color: rgba(35, 90, 147, 0.75);
    height: 400px;
    line-height: 400px;
    text-align: center;
    border-bottom: 1px solid white;
}

.arrow{
    position: relative;
    top: 175px;
    width: 50px;
    height: 50px;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.left{ 
    transform: rotate(-135deg);
}

.right{
    transform: rotate(45deg);
}


/*
.fa-angle-left {
    font-size: 100px;
    color: white;
}

.fa-angle-right{
    color: white;
}
*/

.text{
    color: white;
    font-size: 100px;
    font-weight: 100;
    text-transform: capitalize;
}

/*side bar*/

.sidebar{
    height: 843px;
    border: 1px solid white;
    background-color: rgba(86, 141, 198, 0.75);
}

/*main header*/

.main-header{
    height: 164px;
}

.nav{
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-header-text{
    display: inline;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.main-header-link {
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}

.simbol{
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.title{
    color: white;
    font-size: 48px;
    font-weight: bold;
}

/*sort menu*/

.sort-menu{
    list-style-type: none;
}

.sort-menu > li{
    border: 1px solid white;
    background-color: #2c71b8;
    position: relative;
    display: block;
    width: 270px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.sort-menu li:hover{
    background-color: white;
    display: block;

}

.sort-menu > li > a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}

.sort-menu > li:hover > a {
    color: #2c71b8;
}

.sort-menu li:hover > .sort-submenu{
    display: block;
}

.sort-submenu{
    list-style-type: none;
    position: absolute;
    display: none;
    top: 39px;
    left: -1px;
    z-index: 1;
}

.sort-submenu > li{
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #2c71b8;
    width: 270px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.sort-submenu > li{

}

.sort-submenu > li > a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 21px;
}

.sort-submenu li:hover a {
    color: #2c71b8;
}

/*main contant*/

.content{
    height: 652px;
    border: 1px solid white;
    margin-bottom: 30px;
}

[class*="divice-"]{
    height: 179px;
    background-color: rgba(205, 221, 238, 0.75);
    position: relative;
    text-align: center;
    padding-top: 45px;
} 

.scan{
    position: absolute;
    top: 10px;
    right: 10px;
}

.scan-btn{
    background: transparent;
    background-image: url(images/scan.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #2c71b8;
}

.scan-btn:hover{
    background: #2c71b8;
    background-image: url(images/scan-white.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.heart {
    position: absolute;
    top: 50px;
    right: 10px;
}

.heart-btn {
    background: transparent;
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #2c71b8;
}

.heart-btn:hover {
    background: #2c71b8;
    background-image: url(images/heart-white.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.content-text{
    height: 471px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    background-color: rgba(44, 113, 184, 0.75);
}

.name{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.3;
}

.description{
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.3;
}

.type{
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 2;
}

.screen{
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 2;
}

.ram{
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 2;
}

.price{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.content-datails-btn{
    text-align: center;
    margin-top: 25px;

}

.datails-btn{
    width: 216px;
    height: 50px;
    line-height: 50px;
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-add-btn{
    text-align: center;
    margin-top: 15px;
}

.add-btn{
    width: 216px;
    height: 50px;
    line-height: 50px;
    border: none;
    background-color: rgba(86, 141, 198, 0.75);
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.load{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 90px;
}

.load-link{
    font-size: 36px;
    color: white;
    text-decoration: none;
}


/*footer*/

.footer{
    min-width: 1200px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.footer-text-box{
    text-align: center;
}

.footer-text{
    font-size: 21px;
    color: #2c71b8;
}